@import url(https://fonts.googleapis.com/css?family=Oswald);
html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #efefef;
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
  background: radial-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
}

svg {
  opacity: 0;
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#text {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 100%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-family: 'Oswald', arial;
  color: #ED002E;
  font-size: 50px;
  font-size: 5.5vw;
  text-align: center;
  white-space: nowrap;
}

#text span {
  color: #444;
  font-size: 30px;
  font-size: 3.5vw;
}

#links {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  font-size: 13px;
  font-family: tahoma;
  color: #000;
}

#links a {
  text-decoration: none;
  font-size: 2.3em;
  color: #000;
}

#twitter {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

#pens {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

#back {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: arial;
  color: rgba(0, 0, 0, 0.1);
  font-size: 50px;
  font-size: 10vw;
  text-align: center;
  white-space: nowrap;
}