body{
	text-align: center;
	background: rgba(10, 144, 255, 0.4) !important; 
  font-family: sans-serif;
  font-weight: 100;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
.block{
	display: block;
}

h1{
  color: #4682B4 ;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 10px;

}

#clockdiv{
	margin-top: 20px;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BFFF;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #1E90FF;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
#notblue{
	background: transparent !important;;
}

button{
	margin: 2%;
}
#notblue > div{
	margin-top: 10px;
}